mixin printNavItem(item)
    if item.childs && item.childs.length > 0
        li.dropdown
            a.dropdown-toggle(href='' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                != item.name
                i.fa.fa-caret-down.margin-left
            ul.dropdown-menu
                each child in item.childs
                    li(class=(child.active || child.path == navbarActive ? 'active' : undefined))
                        a(href=child.path)!= child.name
    else
        li(class=(item.active || item.path == navbarActive ? 'active' : undefined))
            - linkTarget = item.target ? item.target : undefined
            - linkDataToggle = item.dataToggle ? item.dataToggle : undefined
            - linkDataTarget = item.dataTarget ? item.dataTarget : undefined
            a(href=item.path target=linkTarget data-toggle=linkDataToggle data-target=linkDataTarget)
                != item.name
                if item.target
                    = ' '
                    i.fa.fa-external-link.margin-left
ul.nav.navbar-nav
    each item in navbarItems
        +printNavItem(item)

ul.nav.navbar-nav.navbar-right
    each item in navbarRightItems
        +printNavItem(item)